@charset "UTF-8";
html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: "Gordita";
  src: url("../fonts/GorditaLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Gordita";
  src: url("../fonts/GorditaMedium.ttf") format("truetype");
  font-style: medium;
  font-weight: 500;
}
@font-face {
  font-family: "Gordita";
  src: url("../fonts/GorditaRegular.ttf") format("truetype");
  font-style: regular;
  font-weight: 600;
}
@font-face {
  font-family: "Sawarabi";
  src: url("../fonts/SawarabiMincho-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
body {
  position: relative;
  font-family: "Gordita";
  font-weight: 300;
  background-color: linear-gradient(#260021, #0B1432) !important;
  font-size: 12px;
  min-width: 305px;
}

.first-wrapper {
  background: linear-gradient(#260021, #0B1432);
  background-repeat: no-repeat;
}

.main {
  font-family: "Gordita";
  font-weight: 300;
  background-image: url("../assets/img/bear_bull-main_bg.png");
  height: auto;
  background-repeat: no-repeat;
  background-position: top;
  height: calc(59rem + 7px);
  background-blend-mode: multiply;
  background-color: rgba(17, 18, 17, 0.5);
  background-size: cover;
}

.main::before {
  content: "";
  background-image: url("../assets/img/left-side-bg.png");
  position: absolute;
  width: 35%;
  height: 44%;
  background-repeat: no-repeat;
  top: 80px;
  z-index: 0;
}

.main::after {
  content: "";
  background-image: url(../assets/img/right-side-bg.png);
  position: absolute;
  right: 20px;
  width: 29%;
  height: 44%;
  top: 80px;
  z-index: 0;
}

.players-count {
  color: #fff;
}

.social-logos_wrapper {
  display: flex;
  width: 100%;
}

.left-right_container-avatar {
  margin-right: 10px;
}

.social-media_container {
  position: absolute;
  right: 0;
  bottom: 25%;
  margin-right: 18px;
  z-index: 99;
  width: 100%;
  padding-left: 10px;
  height: auto;
  border-radius: 25px;
  background-color: #22041E;
  border: 1px solid #6A3F3A;
}

.social-close_btn {
  margin-right: 7px;
  width: 15px;
  height: 100%;
  background: none;
  border: none;
}

.rotate {
  transform: rotate(180deg);
}

.decrease {
  padding-left: 15px;
  justify-content: center;
  width: 105px !important;
}

.status-bar {
  width: 250px;
  height: 25px;
  border-radius: 5px;
  font-size: 16px;
  color: #000000;
  background-color: #ffd600;
  display: flex;
  justify-content: center;
  font-weight: 400;
  margin-bottom: 10px;
}

.social-media > a > img {
  width: 25px;
  height: 25px;
}

.social-media_share > span {
  font-size: 14px;
  color: #F8D05F;
}

.social-media_share {
  margin-top: 1px;
  margin-right: 10px;
}

.social-media {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  right: 30px;
  bottom: 35%;
  margin-right: 18px;
  z-index: 99;
  width: 90%;
  border-radius: 25px;
  background-color: #22041E;
  border: 1px solid #6A3F3A;
}

.date-wrapper {
  font-size: 12px;
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  background-color: #2A1163;
  min-width: 160px;
  height: 30px;
  color: #fff;
  border-radius: 25px;
  border: 1px solid #FFD762;
  position: relative;
  z-index: 99;
  box-shadow: -1px 0px 15px 1px rgba(213, 213, 42, 0.72);
}

img {
  position: relative;
  z-index: 99;
  width: 190px;
}

.sidebar {
  position: relative;
  z-index: 99;
  width: 270px;
  background: linear-gradient(#220821, #1D134A);
  height: 100%;
  float: left;
  border-left: 1px solid #F8D05F;
  border-top: none;
  border-right: 1px solid #F8D05F;
  border-bottom: none;
}

.sidebars {
  height: 100rem;
}

.wrappers {
  z-index: 95;
  position: relative;
  background: border-box;
  flex-wrap: nowrap;
}

.sidebars-main_wrapper {
  height: auto;
  border-bottom: none;
}

.sidebars-inner_wrapper {
  position: absolute;
  height: calc(134% + 8px);
  border-bottom: none;
}

.sidebar__header {
  margin-top: 30px;
}

.header__account-verification {
  margin-top: 20px;
  margin-left: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header__name-id {
  color: #fff;
  display: flex;
  flex-direction: column;
}

.pick-one-stock, .pick-three-stock {
  min-width: 106px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 106px;
  height: 38px;
  border: 1px solid #F8D05F;
  border-radius: 5px;
  color: #F8D05F;
  font-size: 12px;
  font-weight: 400;
}

.pick-one-stock {
  background-color: #133D1E;
}

.pick-three-stock {
  margin-right: 15px;
  background-color: #31297F;
}

.question-mark {
  width: 30px;
  height: 30px;
}

.refresh-icon {
  width: 18px;
  height: 18px;
}

.verify-now {
  float: left;
  color: #fff;
  margin-left: 20px;
}

.verification-wrapper {
  display: flex;
  align-items: center;
}

.verify-now:hover {
  color: #fff;
}

.sidebar-menu__balance_title {
  color: #f8d05f;
}

.sidebar-score_points::before {
  content: "✪";
  margin-right: 5px;
}

.sidebar-menu__balance_title:hover {
  color: white;
}

.sidebar-avatar-id__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 14px;
  width: 50%;
  margin-left: 40px;
}

.header__avatar {
  display: flex;
}

.header__avatar img {
  margin-top: 10px;
  width: 40px;
  height: 40px;
}

.verification-warning {
  color: #40FD3F;
}

.id-number {
  color: #F8D05F;
}

.sidebar-menu-list {
  width: 82%;
}

.sidebar-menu-list .col {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #F8D05F;
  background-color: #200927;
  height: 50px;
  border: 1px solid #F8D05F;
  border-radius: 6px;
}

.sidebar-menu__btn_title {
  margin-left: 10px;
  font-size: 14px;
  color: #F8D05F;
}

.sidebar-menu__btn_title:hover {
  color: #F8D05F;
}

.sidebar-menu__icon {
  margin-right: 13px;
  width: 20px;
  height: 20px;
}

.sidebar-menu__balance_title {
  margin-left: 10px;
  height: 12px;
}

.btn-primary {
  background-color: #2151A1 !important;
  color: #fff !important;
  border-radius: 6px !important;
  font-size: 14px;
}

.first-col {
  height: 100%;
  display: flex;
}

.containers-wrapper__first {
  position: relative;
  z-index: 98;
  width: 70%;
}

.score-points__title {
  font-size: 16px;
  font-weight: 500;
  color: #F8D05F;
}

.sidebar-menu__balance {
  margin-left: 10px;
  color: #40FD3F;
  font-size: 15px;
}

.sidebar-menu__balance:hover {
  color: #40FD3F;
}

.sidebar-menu__account-info {
  display: flex;
  flex-direction: column;
}

.game-info-container-navigation_panel > ul > li > a {
  color: #F8D05F;
  text-decoration: none;
}

.game-info-container-navigation_panel {
  width: 100%;
  font-size: 14px;
  position: relative;
  z-index: 99;
  width: 100%;
}

.game-info-container-navigation_panel > ul {
  width: 100%;
}

.question-mark_wrapper, .question-mark-link {
  margin-left: 15px !important;
}

.game-info-container-navigation_panel > ul > li {
  margin-right: 10px;
  display: inline-block;
  list-style-type: none;
}

.game-info-container-navigation_panel > ul > li > div > a {
  color: #F8D05F;
}

.game-info-container-navigation_panel > ul > li > div > a:hover {
  color: #F8D05F;
}

.left-container {
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(63, 4, 55, 0.9);
}

.sidebar-activation {
  display: inline-block;
}

.mobile-header {
  margin-bottom: 15px;
  width: 100%;
  min-height: 73px;
  background: linear-gradient(#22041E, #1D134A);
  border-bottom: 1px solid #FFD762;
}

.mobile-header_activation {
  display: none;
}

.month {
  color: #FEFFAB;
  border-right: 1px solid #F8D05F;
  padding-right: 10px;
  margin-right: 5px;
}

.time {
  margin-right: 10px;
  margin-bottom: 3px;
  color: #F7D261;
}

.burger-checkbox {
  position: absolute;
  visibility: hidden;
}

.burger {
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
  margin: 30px auto;
}

.burger::before,
.burger::after {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #FFD762;
}

.burger::before {
  top: 0;
  box-shadow: 0 11px 0 #FFD762;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
}

.burger::after {
  bottom: 0;
  transition: bottom 0.3s 0.15s, transform 0.3s;
}

.burger-checkbox:checked + .burger::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
}

.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom 0.3s, transform 0.3s 0.15s;
}

.game-info-container-navigation_panel {
  justify-content: start;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: end;
}

.verification-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.header-wrapper:first-child {
  margin-top: 20px;
}

.icon-active {
  transition-duration: 0.6s;
  transition-property: all;
  display: none;
}

.visible-header__buttons {
  display: flex;
}

.hidden-header__buttons {
  display: none;
  margin-top: 10px;
  width: 100%;
  margin-bottom: 10px;
  background-color: #22041E;
  justify-content: center;
  height: auto;
  text-align: center;
  color: #FFD762;
  font-size: 24px;
  border-radius: 6px;
  border: 1px solid #FFD762;
  box-shadow: -1px 0px 15px 1px rgba(213, 213, 42, 0.72);
}

.hidden-header__buttons:hover {
  color: #FFD752;
}

.players-info_box {
  font-family: "Gordita";
  min-height: 70px;
  width: 240px;
  margin-bottom: 5px;
  border-bottom: 1px solid #FEFFAB;
}

.players-info_box__footer {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.account-details__name {
  margin-left: 5px;
}

.players-info_box__header {
  display: flex;
  justify-content: space-between;
}

.bet {
  color: #FEFFAB;
}

.join-now_link > a {
  color: #40FD3F;
  cursor: pointer;
}

.join-now_link > a:hover {
  color: #40FD3F;
}

.players-info_box__title {
  text-align: left;
  font-size: 14px;
  color: #FEFFAB;
}

.colored-text {
  color: #fff;
}

.account-time {
  font-size: 14px;
  color: #F8D05F;
}

.account-details {
  display: flex;
  color: #FEFFAB;
  font-size: 14px;
}

.account-details__logo {
  width: 25px;
  height: 25px;
}

.hidden-header__buttons > .header-button > img {
  width: 28px;
  height: 28px;
  margin-right: 10px;
}

.refresh-btn-wrapper {
  margin-left: 15px;
  margin-right: 15px;
}

.header-button {
  width: 42%;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 25%;
}

.header-button__text {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  font-family: "Sawarabi";
  font-size: 14px;
}

.header-button_active-status {
  background-color: #123A1C;
}

.desktop-active {
  cursor: pointer;
}

.nav-panel_active {
  color: #fff !important;
  text-decoration: underline;
}

.no-players_container-visible {
  display: flex;
}

.left-right_container-avatar > img {
  width: 37px;
  height: 37px;
}

.no-players_container-hidden {
  display: none;
}

.social-media_active {
  display: flex;
}

.score-points__title {
  margin-top: 40px;
  margin-bottom: 10px;
}

.no-players_wrapper {
  margin: 0 auto !important;
  width: 90%;
}

.account-info {
  margin-left: 10px;
}

.mobile-header_activation {
  justify-content: center;
}

.active-mark {
  display: block;
}

.hidden-mark {
  display: none;
  position: absolute;
  right: 26px;
  top: 15px;
}

.pick-stock_mobile {
  display: none;
}

.pick-stock_desktop {
  display: flex;
}

@media (min-width: 1700px) {
  .card-mod {
    width: 100% !important;
  }
}
@media (max-width: 1025px) {
  .desktop-active {
    display: none;
  }
  .activate {
    display: none !important;
    flex-direction: column;
  }
  .deactivate {
    display: flex !important;
    flex-direction: column;
  }
  .pick-stock_desktop {
    display: none !important;
  }
  .pick-stock_mobile {
    display: flex;
    margin: 0 auto;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
  }
  .active-mark {
    display: none;
  }
  .hidden-mark {
    display: block;
  }
  .card-mod {
    width: 100% !important;
  }
  .left-right-container_headers {
    margin-left: 2%;
  }
  .elapsed {
    min-width: 100% !important;
    padding-bottom: 35px !important;
  }
  .elapsed > div {
    margin-bottom: 15px;
  }
  .social-logos_wrapper {
    top: 12em;
  }
  .main {
    overflow: hidden;
    overflow-x: hidden;
  }
  .score-points__table {
    width: 100% !important;
  }
  .profit-tb, .left-container__battle-restrictions, .left-container__battle-rules {
    margin-left: 15px;
  }
  .left-right_container {
    height: 200px !important;
  }
  .game-info-container-navigation_panel > ul {
    display: flex;
    justify-content: center;
  }
  .social-media_container {
    bottom: 12%;
  }
  .social-logos_wrapper {
    position: relative;
    top: 12em;
  }
  .score-points {
    width: 100% !important;
    position: relative;
    bottom: 5em;
  }
  .right-container {
    margin-top: 20px;
    margin-left: 0 !important;
    margin-right: 7px;
    max-width: 99% !important;
    left: 18px;
  }
  .social-media {
    right: 0;
    bottom: 15%;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .social-media_active {
    display: none;
  }
  .main {
    height: 100%;
    background-size: unset;
  }
  .main::before, .main::after {
    width: 0;
  }
  .no-players_container-hidden {
    display: flex;
  }
  .game-info-container-navigation_panel {
    font-size: 18px;
  }
  .no-players_wrapper {
    width: 90%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 15em;
  }
  .left-right_container__no-players_joined {
    width: 100%;
    margin-top: 0 !important;
    align-self: center !important;
  }
  .no-players_container-visible {
    display: none !important;
  }
  .left-container__date {
    font-size: 18px;
    width: 90%;
  }
  .visible-header__buttons {
    display: none !important;
  }
  .hidden-header__buttons {
    display: flex !important;
  }
  .containers-wrapper, .containers-wrapper__first {
    margin-right: -12px !important;
    align-content: center;
    flex-direction: column;
    width: 100%;
  }
  .game-info-container-navigation_panel {
    justify-content: center;
  }
  .header-wrapper {
    transform: translateY(40px);
  }
  .containers-second_main {
    width: 90% !important;
    margin: 0 auto !important;
  }
  .mobile-header_activation {
    display: flex;
  }
  .sidebar-activation {
    display: none;
  }
  .game-info-container-navigation_panel {
    justify-content: center;
  }
  .date-wrapper {
    width: 90%;
    position: absolute;
    bottom: calc(32em - 6px);
  }
  .logo-img_main-logo {
    margin-bottom: 30px;
  }
  .left-container__wrapper {
    border-right: none !important;
  }
}
@media (max-width: 450px) {
  .left-right-container_headers {
    margin-left: 4%;
  }
  .left-right_container {
    height: 220px !important;
  }
  .social-media {
    bottom: 0%;
  }
  .left-container__battle-restrictions {
    height: 100px !important;
  }
  .social-logos_wrapper {
    top: 12em;
  }
  div.elapsed {
    padding-bottom: 0px !important;
  }
  .header-button {
    width: 60%;
  }
  .game-info-container-navigation_panel {
    font-size: 14px;
    width: 120%;
  }
  .game-info-container-navigation_panel > ul > li {
    margin-right: 20px;
  }
  .burger-container {
    margin-right: 10px;
    width: 27px;
  }
  .mobile-header {
    position: relative;
    z-index: 99;
    justify-content: space-around;
  }
  .social-close_btn > svg {
    width: 20px;
    height: 20px;
    position: relative;
    top: -3px;
  }
  .social-media_container {
    position: absolute;
    right: 0;
    margin-right: 0;
    bottom: 10%;
  }
  .social-media_page > img {
    width: 15px !important;
    height: 15px !important;
  }
  .no-players_joined-wrapper {
    position: absolute;
    left: 0;
  }
}
.logo-img {
  width: 100%;
}

.left-container__wrapper {
  margin-top: 20px;
  height: 82%;
  border-right: 1px solid #6A3F3A;
}

.clock-icon {
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
  margin-right: 3px;
}

.left-container__header {
  position: relative;
  z-index: 99;
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 95%;
  height: 25px;
  font-size: 14px;
}

.left-container__header > a {
  color: #F8D05F;
}

.left-container__header > a:hover {
  color: #F8D05F;
}

.left-container__header-wrapper {
  margin-left: 5px;
  display: flex;
  top: calc(17px + 10rem);
  flex-direction: row;
  z-index: 99;
  height: 31px;
  left: 34em;
  width: 97%;
  justify-content: flex-start;
}

.left-container_subheader {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #6A3F3A;
  min-height: 120px;
  gap: 1rem;
}

.left-container__date {
  text-align: center;
  margin-top: 20px;
  color: #FEFFAB;
  font-size: 14px;
}

.left-container__balance {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 55px;
  border: 1px solid #F8D05F;
  border-radius: 6px;
  color: #FFD762;
}

.left-container__balance_text {
  display: inline-block;
  margin-left: 10px;
  font-family: "Sawarabi";
  font-size: 26px;
}

.left-container__balance > img {
  width: 25px;
  height: 25px;
}

.left-container__icon {
  margin-bottom: 20px;
}

.left-container__icon > img {
  width: 90px;
  height: 27px;
}

.left-container__battle-rules,
.left-container__battle-restrictions {
  border-bottom: 1px solid #6A3F3A;
  padding-top: 10px;
  color: #fff;
  text-align: left;
}

.left-container__battle-restrictions {
  padding-bottom: 20px;
  height: 78px;
}

.left-container__battle-rules_title,
.left-container__battle-restrictions_title {
  font-size: 14px;
  color: #F8D05F;
  font-weight: 500;
}

.left-container__battle-rules_text {
  padding-bottom: 20px;
}

.left-container__battle-rules_text,
.left-container__battle-restrictions_text {
  font-size: 12px;
  line-height: 18px;
  min-height: 45px;
}

.profit-tb {
  color: #fff;
  font-size: 11px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.profit-tb__title {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: #F8D05F;
  margin-bottom: 10px;
}

.profit-tb__table {
  width: 100%;
}

.active-profit {
  color: #14FF00 !important;
}

.profit-tb__table th {
  border-right: 1px solid #FFD762;
  color: #FFD762;
  width: calc(4em + 15px);
  text-align: center;
  font-size: 11px;
  font-weight: 100;
}

.profit-tb__table td {
  line-height: 25px;
  border-right: 1px solid #F8D05F;
  text-align: center;
}

thead :last-child {
  border: none;
}

tbody :last-child {
  border: none;
}

.elapsed {
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: 100%;
  padding-bottom: 80px;
  margin: 0 auto;
}

.card-mod {
  font-family: "Sawarabi";
  color: #FFD762;
  background-color: #3F0437;
  width: 280px;
  min-height: 320px;
  border: 1px solid #FFD762;
  border-radius: 5px;
  box-shadow: -9px -2px 33px -4px rgba(213, 213, 42, 0.72);
}

.card-header {
  margin-top: 10px;
  font-size: 21px;
  text-align: center;
  margin-bottom: 10px;
}

.players-game {
  text-transform: uppercase;
  font-size: 16px;
}

.notification-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2E0327;
  border: 1px solid #F8D05F;
  border-radius: 5px;
  width: 90%;
  height: 228px;
  margin: 0 auto;
}

.activate {
  display: flex;
  flex-direction: column;
}

.deactivate {
  display: none;
  flex-direction: column;
}

.notification-container-with-information {
  padding-top: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  border: none;
  padding-right: 5px;
  background: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 90%;
  height: 228px;
  margin: 0 auto;
}

.notification-container-with-information::-webkit-scrollbar {
  background-color: #260423;
  width: 10px;
  scroll-margin-top: 19px;
}

.notification-container-with-information::-webkit-scrollbar-thumb {
  position: relative;
  background-color: #8D4987;
  width: 2px;
  border-radius: 6px;
  scroll-margin-right: 5px;
}

.notification-container_text {
  width: 185px;
  height: 45px;
  font-size: 16px;
}

.card-body {
  text-align: center;
}

.card-title, .card-text {
  font-size: 12px;
  font-family: "Gordita";
  font-weight: 600;
}

.card-title {
  font-size: 14px;
}

.card-text {
  margin-top: 10px;
}

.free {
  font-weight: 400;
  font-size: 26px;
}

.free-uppercase {
  text-transform: uppercase;
}

.players {
  font-weight: 300;
  font-size: 14px;
  font-family: "Gordita";
  margin-top: 10px;
  margin-bottom: 10px;
  color: #FEFFAB;
}

.big-divider, .small-divider {
  margin-bottom: 5px;
  margin: 0 auto;
  height: 1px;
  background-color: #FFD762;
  display: block;
}

.big-divider {
  margin-top: 5px;
  width: 118px;
  margin-bottom: 5px;
}

.small-divider {
  width: 60px;
  margin-bottom: 10px;
}

.play-amount {
  font-size: 26px;
}

.player-amount {
  font-family: "Gordita";
  margin-left: 5px;
  font-size: 12px;
  color: #fff;
}

.player-limit {
  color: #fff;
}

.sword-img {
  width: 86px;
  height: 86px;
}

.card-submit_btn, .players-info_btn {
  font-family: "Gordita";
  font-weight: 400;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 267px;
  height: 37px;
  background-color: #133D1E;
  border: 1px solid #F8D05F;
  color: #F8D05F;
  border-radius: 5px;
}

.players-info_btn {
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: #19125D;
}

.start-time {
  font-family: "Gordita";
  margin-top: 15px;
  font-size: 12px;
  color: #FEFFAB;
}

.joined-btn {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 28px;
  border: 1px solid #FFD762;
  background-color: #610E59;
  color: #fff;
  font-family: "Gordita";
  font-size: 12px;
  border-radius: 5px;
  display: flex;
  margin-bottom: 5px;
}

.joined-btn_icon > img {
  width: 20px;
  height: 20px;
}

.card-diamond_icon {
  padding-top: 5px;
  margin-bottom: 15px;
  display: block;
  margin: 0 auto;
  width: 120px;
  height: 36px;
}

.containers-wrapper:nth-child(2).card-diamond_icon {
  margin-bottom: 20px;
}

.card-submit_btn:hover, .players-info_btn:hover {
  color: #F8D05F;
}

.left-right_container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  height: 100%;
  border-radius: 6px;
  background-color: #3F0437;
}

.containers-wrapper {
  display: flex;
  padding: 5px;
}

.containers-second_main {
  width: 72%;
  margin-left: 7rem;
}

.left-right_container__no-players {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background-color: #2E0327;
  width: 100%;
  margin-top: 35px;
  height: 120px;
  color: #F8D05F;
  border: 1px solid #F8D05F;
  border-radius: 6px;
}

.left-right_container__no-players_joined {
  color: #FEFFAB;
  margin-top: 30px;
  align-self: end;
  float: right;
  font-style: 14px;
}

.marshall {
  color: #F8D05F;
}

.general {
  color: #BF9058;
}

.major {
  color: #C4C4C4;
}

.score-points {
  width: 100%;
  width: 100vw;
}

.score-points__table {
  text-align: center;
  border: 1px solid #F8D05F;
  width: 24%;
}

.score-points__tr > td {
  border: 1px solid #F8D05F;
}

.score-points__tr > td > div {
  font-weight: 100;
  font-size: 12px;
}

.score-points__tr > th {
  border: 1px solid #F8D05F;
  font-size: 12px;
  font-weight: 100;
  padding: 5px;
}

.score-points__table-logo > img {
  width: 25px;
  height: 25px;
}

.score-points > td > div {
  font-size: 12px;
  font-weight: 100;
}

.sergeant {
  color: #9E69F5;
}

.corporal {
  color: #4FBC85;
}

.footer {
  min-height: 220px;
}

.footer-wrapper_battle-room__open {
  position: absolute;
  display: block;
  width: 90%;
  background-color: #0B1432;
  min-width: 305px;
}

.battle-open__room {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-wrap {
  height: 70%;
}

.footer__title,
.footer__subtitle {
  font-weight: 400;
  text-align: center;
  color: #AF894A;
}

.footer__logos {
  text-align: center;
}

.footer-wrapper {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.right-container {
  margin-left: 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  justify-content: space-around;
  width: 30%;
  z-index: 99;
  background-color: rgba(63, 4, 55, 0.9);
  border: 1px solid #F8D05F;
  border-radius: 6px;
  box-shadow: -1px 0px 15px 1px rgba(213, 213, 42, 0.72);
}

.right-container__header {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #FFD762;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  position: relative;
  margin: 0 auto;
  display: flex;
  width: 100%;
  height: 50px;
}

.open-btn > div {
  padding: 5px;
}

.timer {
  font-size: 14px;
  margin-bottom: 5px;
  color: #fff;
}

.timer-start {
  margin-right: 5px;
  color: #F8D05F;
}

.right-container__join-battle {
  margin-top: 20px;
  line-height: 25px;
  width: 100%;
  min-height: 46px;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}

.right-container__join-battle_title {
  color: #F8D05F;
  font-size: 16px;
  font-weight: 500;
}

.right-container__join-battle_subtitle {
  color: #fff;
}

.finished {
  font-family: "Gordita";
  font-size: 12px;
  color: #FEFFAB;
}

.right-container__join-battle_search-field {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  width: 100%;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #340432;
  height: 40px;
  border: 1px solid #F8D05F;
  border-radius: 6px;
}

.right-container__join-battle_search-field > input {
  width: 100%;
  background-color: #340432;
  border: none;
  padding-left: 10px;
}

#search-field::-moz-placeholder {
  font-size: 12px;
  color: #fff;
  font-weight: 100;
}

#search-field::placeholder {
  font-size: 12px;
  color: #fff;
  font-weight: 100;
}

.right-container__join-battle_search-field_icon {
  border-right: 1px solid #fff;
  padding-right: 30px;
  margin-left: 10px;
  width: 20px;
}

.right-container__join-battle_search-field_icon > img {
  width: 18px;
  height: 18px;
}

.dropdown {
  padding-left: 5px;
  display: flex !important;
  justify-content: space-between;
  height: 40px;
  margin: 0 auto;
  color: #fff;
  border-radius: 6px;
  border: 1px solid #D14DBF;
  background-color: #3A0F34;
  width: 100%;
  text-align: center;
  align-items: center;
}

.stock-close_btn {
  background: none;
  border: none;
}

.dropdown-stock {
  align-items: center;
  height: auto !important;
  border: none;
}

.stock-close_btn::before, .stock-close_btn::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 18px;
  right: 5px;
  background-color: #FFD762;
  display: flex;
  cursor: pointer;
}

.stock-close_btn::after {
  transform: rotate(-45deg);
}

.stock-close_btn::before {
  transform: rotate(45deg);
}

.dropbtn {
  background-color: #3a0f34;
  color: white;
  padding: 6px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.selected-stocks_container {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  color: #D445C1;
}

.selected-stock_line {
  font-size: 14px;
  color: #D455C1;
  display: flex;
  align-items: center;
  padding-left: 10px;
  width: 100%;
  height: 40%;
  background-color: #22041E;
  margin-bottom: 10px;
  border-radius: 6px;
}

.selected-stock_line:last-child {
  margin-bottom: 0;
}

.hidden-header__buttons {
  height: 40px;
  align-items: center;
}

.headers {
  height: auto;
}

.selected-stocks {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.selected-stocks__title {
  margin-top: 10px;
  color: #FEFFAB;
  font-size: 14px;
}

.selected-stocks__title > span {
  color: #fff;
}

.selected-stocks__subtitle {
  font-style: normal;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #F8D05F;
}

.selected-stocks__text {
  margin-top: 10px;
  color: #fff;
}

.stock-table {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  overflow-x: auto;
  width: 100%;
  height: 150px;
  border: 1px solid #F8D05F;
  border-radius: 6px;
  color: #fff;
  overflow-y: scroll;
}

.stock-table > div {
  margin-bottom: 10px;
  scroll-margin-right: 5px;
  border-bottom: 1px solid #6A3F3A;
}

.stock-table::-webkit-scrollbar {
  background-color: #260423;
  width: 10px;
  scroll-margin-top: 19px;
}

.stock-table::-webkit-scrollbar-thumb {
  position: relative;
  background-color: #8D4987;
  width: 2px;
  border-radius: 6px;
  scroll-margin-right: 5px;
}

.stock-table-row__index {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  font-weight: 400;
  border-radius: 2px;
  width: 30px;
  height: 20px;
  background-color: #ffd600;
  color: black;
  width: 50px;
  height: 18px;
  text-align: center;
  align-items: center;
}

.stock-table-row__index::after {
  content: "-";
  color: #fff;
  position: relative;
  left: 10px;
}

.stock-table-row__text {
  font-size: 14px;
  margin-left: 15px;
}

.item {
  line-height: 20px;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.selected-stocks__enter-btn {
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 6px;
  color: #F8D05F;
  border: 1px solid #F8D05F;
  background-color: #133D1E;
  width: 99%;
  height: 37px;
  font-size: 12px;
  font-weight: 400;
}

#myDialog {
  font-family: "Gordita";
  text-align: center;
  overflow-y: hidden;
  height: auto;
}

#myDialog > .score-points {
  margin-bottom: 15px;
}

.score-points__table-modal {
  width: 100%;
}

#myDialog::backdrop {
  background-color: rgba(14, 1, 11, 0.8);
}

.score-points__table-body_title {
  color: #F8D05F;
}

.score-points__table-balance, .score-points__table-body_text {
  color: #fff;
}

.modal-game_rules {
  width: 340px;
  border: 1px solid #F8D05F;
  border-radius: 10px;
  box-shadow: -1px 0px 15px 1px rgba(213, 213, 42, 0.72);
  background: linear-gradient(#2E0327, #6D1153, #2E0327);
  min-height: 640px;
}

.modal-close_btn {
  background: none;
  border: none;
  float: right;
}

.question_mark {
  width: 100%;
  text-align: center;
  clear: both;
}

.question_mark > img {
  width: 40px;
  height: 40px;
}

.modal-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 21px;
  color: #fff;
}

.modal-text {
  color: #FEFFAB;
  font-size: 14px;
  font-weight: 300;
}

.score-points__title-modal, .profit-tb__title-modal {
  font-size: 21px;
  color: #fff;
}

.profit-tb_modal {
  color: #fff;
  font-size: 11px;
  margin-top: 10px;
}

#myDialog > .score-points__table, #myDialog > .score-points, .modal-table {
  width: 100% !important;
}

#myDialog > .score-points__td {
  color: #fff;
}

.activation-mobile-menu_modal {
  display: none;
}

.mobile-menu_modal {
  position: absolute;
  top: calc(5em + 2px);
  min-width: 100%;
  height: 100%;
  background-color: rgba(14, 1, 11, 0.8);
  z-index: 99;
}

.sidebar-modal {
  flex-direction: column;
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  background: linear-gradient(#220821, #1D134A);
  border-left: 1px solid #F8D05F;
  border-top: none;
  border-right: 1px solid #F8D05F;
  border-bottom: none;
}

.header__account-verification-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.verify-now-modal {
  font-size: 14px;
  color: #fff;
}

.sidebar-modal_wrapper {
  display: flex;
  width: 160px;
}

.first-column > div:nth-child(2) > .card-mod > .card-body {
  margin-top: 40px;
  margin-bottom: 10px;
}

.first-column > div:nth-child(3) > .card-mod > .card-body {
  margin-top: 40px;
  margin-bottom: 10px;
}

.second-column > div:nth-child(1) > .card-mod > .card-body {
  margin-top: 40px;
  margin-bottom: 10px;
}

.second-column > div:nth-child(2) > .card-mod > .card-body {
  margin-top: 40px;
  margin-bottom: 10px;
}

.second-column > div:nth-child(4) > .card-mod > .card-body {
  margin-top: 40px;
  margin-bottom: 10px;
}/*# sourceMappingURL=battleroom_all.css.map */